<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://when-is-my-birthday.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/16accc78-9163-4f59-be3b-48b1df8a55b4/resourceGroups/Google-Home-Backend-rikupin/providers/Microsoft.Web/sites/When-is-my-birthday</ResourceId>
    <UserName>$When-is-my-birthday</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://when-is-my-birthday.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>